body{
  background-color: rgb(25, 25, 25);
}
.name{  
    position: relative;
    font-size: 25px;
    color: white;
    text-align: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
}

h2, a, p {
    color: white;
    font-family: Roboto;
    text-decoration: none;
    left: 250px;
    top: 265px;
}
p>a {
    color: #fd084a;
}
.blink {
  animation: blink .5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}
.flex {
    display: flex;
}
.header-sub-title {
  position: relative;
  color: white;
  font-family: "Courier";
  font-size: 20px;
  padding: 0.1em;
  left: 260px;
}

.scrollButton{
  position: relative;
  border-radius: 5px;
  width: 200px;
  height: 35px;
  border-color: rgb(0, 114, 252);
  background-color: rgb(25, 25, 25);
  color: rgb(0, 114, 252);
  left: 50%;
  transform: translateX(-50%);
  top: 270px;
  border-width: 4px;
  border: solid;
}

.scrollButton:hover{
  cursor: pointer;
  background-color: black;
}


.openingDescription{
  position: relative;
  color: white;
  font-family: "Courier";
  font-size: 20px;
  padding: 0.1em;
}

.sectionsContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 30px;
  margin-top: 800px;
  background-color: gray;
  font-size: 30px;
}

.sections:hover{
  color: blue;
}

img{
  width: 50px;
}

html{
    scroll-behavior: smooth;
  }

.iconContainer{
  display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
}

.icon {
  flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


