body{
  background-color: rgb(25, 25, 25);
}
.name{  
    position: relative;
    font-size: 25px;
    color: white;
    text-align: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
}

h2, a, p {
    color: white;
    font-family: Roboto;
    text-decoration: none;
    left: 42.%;
    top: 265px;
}
p>a {
    color: #fd084a;
}
.blink {
  animation: blink .5s infinite;
  
}
@keyframes blink{
  to { opacity: .0; }
}
.flex {
  position: relative;
  display: flex;
  align-items: center;
  left: 90%;
  transform: translateX(-50%);
  top: 50%;
}
.header-sub-title {
  color: white;
  font-family: "Courier";
  font-size: 20px;
  padding: 0.1em;
 }

.scrollButton{
  position: relative;
  border-radius: 5px;
  width: 200px;
  height: 35px;
  border-color: rgb(0, 114, 252);
  background-color: rgb(25, 25, 25);
  color: rgb(0, 114, 252);
  left: 50%;
  transform: translateX(-50%);
  margin-top: 300px;
  border-width: 4px;
  border: solid;
}

.scrollButton:hover{
  cursor: pointer;
  background-color: black;
}

.description{
  position: relative;
  font-family: 'Roboto', sans-serif;
  width: 400px;
  text-align: left;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
}

.sectionsContainer{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 110%;
  height: 35px;
  gap: 10px;
  margin-top: 800px;
  margin-left: -10px;
  background-color: rgb(40, 40, 40);
  box-shadow: 0 4px 2px -2px black;
  font-size: 20px;
  z-index: 9999999999999999999999999;
  align-items: center;
}

.sections{
  position: relative;
  left: 20px;
  color: rgb(0, 114, 252);
}

.sections:hover{
  color: blue;
}

#about-title{
  position: relative;
  color: white;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#about-title::before{
  content: '';
  border-bottom: 18px solid rgb(0, 114, 252);
  width: 8rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 1.5rem;
  top: 2.6rem;
  z-index: -1;
}

#portrait{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}

img{
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
}

html{
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  }

.iconContainer{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 300px;
}

.icon {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  padding: 20px;
  background-color: rgb(25, 25, 25);;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

#projects{
  position: relative;
  color: white;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#projects::before{
  content: '';
  border-bottom: 18px solid rgb(0, 114, 252);
  width: 6.5rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 1.5rem;
  top: 3.9em;
  z-index: -1;
}

#resume{
  position: relative;
  color: white;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#resume::before{
  content: '';
  border-bottom: 18px solid rgb(0, 114, 252);
  width: 6.5rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 1.5rem;
  top: 3.9rem;
  z-index: -1;
}

#contact-me{
  position: relative;
  color: white;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#contact-me::before{
  content: '';
  border-bottom: 18px solid rgb(0, 114, 252);
  width: 10rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 1.5rem;
  top: 3.9rem;
  z-index: -1;
}

h2{
  color: white;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2{
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr{
  border: none;
  width: 120px;
  height: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  border-radius: 50px;
}

.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus{
  border: 2px solid rgb(0, 114, 252);
}

.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  gap: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

