body{
  background-color: rgb(25, 25, 25);
}

h2, a, p {
  color: white;
  font-family: Roboto;
  text-decoration: none;
  left: 42.%;
  top: 265px;
}

p>a {
    color: #fd084a;
}

.blink {
  animation: blink .5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}

.flex {
  position: relative;
  display: flex;
}

.scroll-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-bottom: 800px;
  top: 50%;
  transform: translateY(-50%);
  gap: 20px;
}

.name{  
  position: relative;
  font-size: 25px;
  color: white;
}

.scrollButton{
  position: relative;
  display: flex;
  border-radius: 5px;
  width: 200px;
  height: 35px;
  border-color: rgb(0, 114, 252);
  background-color: rgb(25, 25, 25);
  color: rgb(0, 114, 252);
  border-width: 4px;
  border: solid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.scrollButton:hover{
  cursor: pointer;
  background-color: black;
}

.header-sub-title {
  color: white;
  font-family: "Courier";
  font-size: 20px;
  padding: 0.1em;
}

.description{
  position: relative;
  font-family: 'Roboto', sans-serif;
  width: 400px;
  text-align: left;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
}

.sectionsContainer{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100.5%;
  height: 35px;
  gap: 10px;
  margin-left: -10px;
  background-color: rgb(40, 40, 40);
  box-shadow: 0 4px 2px -2px black;
  font-size: 20px;
  z-index: 9999999999999999999999999;
  align-items: center;
}

.sections{
  position: relative;
  font-family: 'Roboto', sans-serif;
  left: 20px;
  color: rgb(0, 114, 252);
  font-weight: 600;
}

.sections:hover{
  color: blue;
  cursor: pointer;
  transition: .25s;
}

#about-title{
  position: relative;
  color: white;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#about-title::before{
  content: '';
  border-bottom: 18px solid rgb(0, 114, 252);
  width: 8rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 1.5rem;
  top: 2.6rem;
  z-index: -1;
}

#portrait{
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}

img{
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
}

html, body{
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-wrapper{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.iconContainer{
  position: relative; 
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  margin-left: 100px;
  gap: 20px; /* Space between items */
  width: auto; /* Auto-width to adjust to content */
  max-width: 100%; /* Make sure it doesn't overflow */
}

.icon {
  background-color: rgb(25, 25, 25);
  color: #fff;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100px; /* Example size */
  width: 100px; /* Example size */
}

#projects{
  position: relative;
  color: white;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#projects::before{
  content: '';
  border-bottom: 18px solid rgb(0, 114, 252);
  width: 6.5rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 1.5rem;
  top: 2.5em;
  z-index: -1;
}

#resume{
  position: relative;
  color: white;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#resume::before{
  content: '';
  border-bottom: 18px solid rgb(0, 114, 252);
  width: 6.5rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 1.5rem;
  top: 2.5rem;
  z-index: -1;
}

.resume-link{
  margin-top: -100px;
}

#contact-me{
  position: relative;
  color: white;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#contact-me::before{
  content: '';
  border-bottom: 18px solid rgb(0, 114, 252);
  width: 10rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 1.5rem;
  top: 2.5rem;
  z-index: -1;
}

h2{
  color: white;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact-container{
  position: relative;
  display: column;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.contact-left-title h2{
  font-weight: 400;
  width: 400px;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.contact-left-title hr{
  border: none;
  width: 120px;
  height: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-inputs{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  border-radius: 50px;
}

.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus{
  border: 2px solid rgb(0, 114, 252);
}

.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  gap: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.emailSubmit{
  position: relative;
  align-items: center;
}

.linkContainer{
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 15px;
  font-size: 25px;
  bottom: 100px;
  margin-bottom: 15px;
}

.linkedinLink{
  position: relative;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}

.linkedinLink::after{
  content: '';
  border-bottom: 5px solid rgb(0, 114, 252);
  width: 5.5em;
  position: absolute;
  bottom: 0;
  transition: height 0.8s ease;
  z-index: -1;
}

.linkedinLink:hover::after{
  transition: height 0.8s ease;
  border-bottom: 30px solid rgb(0, 114, 252);
  height: 100%;
}

.gitLink{
  position: relative;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}

.gitLink:after{
  content: '';
  border-bottom: 5px solid rgb(0, 114, 252);
  width: 4.8em;
  position: absolute;
  bottom: 0;
  transition: height 0.8s ease;
  z-index: -1;
}

.gitLink:hover:after{
  transition: height 0.8s ease;
  border-bottom: 30px solid rgb(0, 114, 252);
  height: 100%;
}

